@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0b0b0b;
}

::-webkit-scrollbar-thumb {
  background: #00ff99;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00cc77;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  background-image: url(images/backimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
}

.navbar {
  width: min(100% - 2rem, 1400px);
  margin-inline: auto;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(69, 90, 80, 0.4);
  backdrop-filter: blur(10px);
  padding: 1.5rem;
  border-radius: 50px;
  position: fixed;
  top: 2.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0px -30px 20px rgb(0, 0, 0);
}

.navbar h2 {
  color: #b5ebca;
  font-family: "birthstone", cursive;
  font-size: clamp(1.8rem, 3vw, 2.2rem);
  letter-spacing: 1px;
}

.links a {
  margin-left: clamp(0.5rem, 3vw, 2rem);
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  text-decoration: none;
  color: #bce9cd;
  transition: color 0.2s;
}

.links a i {
  font-size: clamp(0.7rem, 1.5vw, 0.8rem);
  padding-right: 1.2rem;
}

.links a:hover {
  color: #bdbdbd;
}

#menuBtn {
  display: none;
  background: none;
  border: none;
  font-size: 1rem;
  color: #bce9cd;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

#home {
  width: min(95% - 2rem, 1200px);
  height: auto;
  margin-inline: auto;
  background: rgba(69, 90, 80, 0.4);
  backdrop-filter: blur(3px);
  margin-top: 5.5rem;
  border-radius: 50px 5px 50px 5px;
  display: flex;
  padding: clamp(1rem, 2vw, 1rem);
}

.left {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: clamp(14rem, 30vw, 17rem);
  border-radius: 50%;
  margin-block: 1rem;
  border: 2px solid #b5ebca;
  box-shadow: 0px 0px 15px #b5ebca;
  transition: 0.4s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.left img:hover {
  transform: scale(1.05);
}

.right {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: clamp(1rem, 2vw, 1.2rem);
  color: #bce9cd;
}

.right .heading {
  font-size: clamp(1.4rem, 3vw, 2.5rem);
  margin-block: 1.5rem;
  letter-spacing: 1px;
  border-right: 3px solid #b5ebca;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 8s steps(19) infinite;
}

/* animation of typewriter */
@keyframes typing {
  0% {
    width: 0ch;
  }

  40% {
    width: 20ch;
  }

  60% {
    width: 20ch;
  }

  100% {
    width: 0ch;
  }
}

.homeInfo {
  font-size: clamp(1rem, 2vw, 1.3rem);
  letter-spacing: 0.5px;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  margin-top: 2rem;
}

.socialLinks a {
  color: #b5ebca;
  margin-right: 1rem;
  border: none;
  transition: 0.3s;
}

.socialLinks a:hover {
  transform: scale(1.2);
  color: aquamarine;
}

.socialLinks a:active {
  transform: translateY(0px) scale(0.95);
}

.resume{
  width: clamp(10rem, 20vw, 13rem);
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 1.5rem;
  background-color: #1f8d49;
  border-radius: 1.5rem;
  transition: all 0.2s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.resume:hover{
  transform: scale(1.03);
  box-shadow: 0px 5px 15px rgba(198, 255, 215, 0.3);
  color: aquamarine;
  background-color: #186837;
  border: 1px solid #b5ebca;
}

.resume:active{
  transform: translateY(0px) scale(0.95);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.resume a{
  text-decoration: none;
  color: white;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

.resume a:hover{
  color: aqua;
}


#about {
  width: min(95% - 2rem, 1200px);
  height: auto;
  margin-inline: auto;
  background: rgba(69, 90, 80, 0.4);
  backdrop-filter: blur(3px);
  margin-block: 2.5rem;
  border-radius: 50px 5px 50px 5px;
  padding: clamp(1.5rem, 3vw, 3rem);
}

#about h2 {
  width: 100%;
  text-align: right;
  font-size: clamp(1.4rem, 3vw, 2.5rem);
  padding-bottom: 1rem;
  color: #b5ebca;
  margin: 20px 2px;
  letter-spacing: 1px;
  border-bottom: 1px solid #bce9cd;
}

#about p {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  color: #bce9cd;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 1.4rem;
  padding: 0rem 0.5rem;
  margin-block: 1.5rem;
}

#about p strong {
  color: #b5ebca;
}

#about p:last-child {
  margin-bottom: 2rem;
}

#skills {
  width: min(95% - 2rem, 1200px);
  height: auto;
  margin-inline: auto;
  background: rgba(69, 90, 80, 0.4);
  backdrop-filter: blur(3px);
  margin-block: 2.5rem;
  border-radius: 50px 5px 50px 5px;
  padding: clamp(1.5rem, 3vw, 3rem);
}

#skills h2 {
  width: 100%;
  text-align: left;
  font-size: clamp(1.4rem, 3vw, 2.5rem);
  padding-bottom: 1rem;
  color: #b5ebca;
  margin: 20px 2px;
  letter-spacing: 1px;
  border-bottom: 1px solid #bce9cd;
}

.skill-section {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  margin-block: 1.5rem;
}

.skill-section h3 {
  text-align: center;
  color: #b5ebca;
  margin-bottom: 1rem;
  font-size: clamp(1.3rem, 2vw, 1.6rem);
}

.core,
.learn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-section ul {
  list-style: none;
  margin-top: 1rem;
  row-gap: 1rem;
}

.coreList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.learningList {
  row-gap: 1.4rem;
  display: grid;
}

.skill-section ul li {
  color: #bce9cd;
  margin-bottom: 0.8rem;
  font-size: clamp(1rem, 2vw, 1.1rem);
}

.skill-section ul li i {
  color: #bce9cd;
  margin-right: 0.5rem;
}

#education {
  width: min(95% - 2rem, 1200px);
  height: auto;
  margin-inline: auto;
  background: rgba(69, 90, 80, 0.4);
  backdrop-filter: blur(3px);
  margin-block: 2.5rem;
  border-radius: 50px 5px 50px 5px;
  padding: clamp(1.5rem, 3vw, 3rem);
}

#education h2 {
  width: 100%;
  text-align: right;
  font-size: clamp(1.4rem, 3vw, 2.5rem);
  padding-bottom: 1rem;
  color: #b5ebca;
  margin: 20px 2px;
  letter-spacing: 1px;
  border-bottom: 1px solid #bce9cd;
}

.edu-section{
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  margin-block: 1.5rem;
  margin-inline: 0.5rem;
}

.edu-section h3{
  text-align: left;
  color: #b5ebca;
  margin-bottom: 1.3rem;
  font-size: clamp(1.3rem, 2vw, 1.6rem);
}

.edu-section p:first-of-type{
  font-weight: 600;
  color: #bce9cd;
}

.edu-section p{
  color: #bce9cd;
  margin-bottom: 1rem;
  font-size: clamp(0.9rem, 3vw, 1.2rem);
}

#projects {
  width: min(95% - 2rem, 1200px);
  height: auto;
  margin-inline: auto;
  background: rgba(69, 90, 80, 0.4);
  backdrop-filter: blur(4px);
  margin-block: 2.5rem;
  border-radius: 50px 5px 50px 5px;
  padding: clamp(1.5rem, 3vw, 3rem);
}

#projects h2 {
  width: 100%;
  text-align: left;
  font-size: clamp(1.4rem, 3vw, 2.5rem);
  padding-bottom: 1rem;
  color: #b5ebca;
  margin: 20px 2px;
  letter-spacing: 1px;
  border-bottom: 1px solid #bce9cd;
}

.projectCards {
  width: min(100% - 0.5rem, 1200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
  gap: 1rem;
}

.calc,
.todo,
.skycast {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-block: 0.5rem;
  background-color: rgba(181, 235, 202, 0.1);
  backdrop-filter: blur(10px) inset;
  border-radius: 1rem;
  padding-block: clamp(1.3rem, 2vw, 1.5rem);
}

.calc img,
.todo img,
.skycast img {
  width: clamp(13rem, 30vw, 17rem);
  height: auto;
  border-radius: 1rem;
  margin: 0.3rem 1rem;
  transition: 0.3s;
}

.projectCards img:hover {
  transform: scale(1.1);
}

.calc .responsive,
.todo .responsive,
.skycast .responsive {
  width: clamp(18rem, 50vw, 45rem);
  margin-top: 1rem;
}

.responsive h3 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  color: #b5ebca;
  text-align: center;
}

.responsive p {
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  margin: 1rem;
  color: #bce9cd;
  letter-spacing: 1px;
  padding-left: clamp(1rem, 2vw, 1.5rem);
  padding-right: clamp(1rem, 2vw, 1.5rem);
}

.responsive .features {
  margin: 1rem;
  padding: 0px 2.5rem;
  list-style: circle;
  color: #bce9cd;
  font-size: clamp(0.9rem, 1.3vw, 1rem);
}

.projectLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-block: 1.5rem;
}

.projectLinks a {
  text-decoration: none;
  display: flex;
  color: black;
  background-color: #1f8d49;
  font-size: clamp(0.8rem, 1.5vw, 0.9rem);
  font-weight: 600;
  padding: 0.6rem 0.8rem;
  border-radius: 50px;
  transition: 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.projectLinks a:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 15px rgba(198, 255, 215, 0.3);
  color: aquamarine;
  background-color: #186837;
  border: 1px solid #b5ebca;
}

.projectLinks a:active {
  transform: translateY(0px) scale(0.95);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

#contact {
  width: min(95% - 2rem, 1200px);
  height: auto;
  margin-inline: auto;
  background: rgba(69, 90, 80, 0.4);
  backdrop-filter: blur(4px);
  margin-block: 2.5rem;
  border-radius: 50px 5px 50px 5px;
  padding: clamp(1.5rem, 3vw, 3rem);
}

#contact h2 {
  width: 100%;
  text-align: right;
  font-size: clamp(1.4rem, 3vw, 2.5rem);
  padding-bottom: 1rem;
  color: #b5ebca;
  margin: 20px 2px;
  letter-spacing: 1px;
  border-bottom: 1px solid #bce9cd;
}

.contact-intro {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: #b5ebca;
  display: flex;
  justify-content: center;
  margin: 0rem 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block: 1rem;
  padding-block: 1rem;
  border-radius: 20px;
}

form input,
textarea {
  width: clamp(15rem, 30vw, 20rem);
  margin-block: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 20px;
  border: none;
  font-size: 0.9rem;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
}

textarea {
  height: 8rem;
}

form button {
  width: clamp(9rem, 15vw, 11rem);
  padding: 0.8rem 0.5rem;
  margin-block: 1rem;
  border-radius: 50px;
  font-size: clamp(0.9rem, 2vw, 0.9rem);
  text-decoration: none;
  color: black;
  background-color: #1f8d49;
  transition: transform 0.3s ease-in;
  -webkit-tap-highlight-color: transparent;
  border: none;
  cursor: pointer;
}

form button:hover {
  transform: scale(1.03);
  box-shadow: 0px 5px 15px rgba(198, 255, 215, 0.3);
  color: aquamarine;
  background-color: #186837;
  border: 1px solid #b5ebca;
}

form button:active {
  transform: translateY(0px) scale(0.95);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.DMEmail {
  font-size: clamp(1rem, 2vw, 1.2rem);
  color: #b5ebca;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0rem, 1rem;
}

.DMEmail a {
  text-decoration: none;
  margin-top: 0.5rem;
  color: aqua;
}

.DMEmail a:hover {
  text-decoration: underline;
  color: aquamarine;
}

footer {
  width: min(100%, 1400px);
  margin-inline: auto;
  text-align: center;
  padding: 1.5rem;
  background: #b5ebca21;
  backdrop-filter: blur(10px);
  color: #bce9cd;
  font-size: 0.9rem;
  margin-top: 3rem;
  border-top: 1px solid #bce9cd40;
}

footer a {
  color: aqua;
  text-decoration: none;
  margin: 0 0.2rem;
}

footer a:hover {
  text-decoration: underline;
}




@media (max-width: 768px) {
  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 12rem;
    height: 20rem;
    gap: 1rem;
    font-size: 4rem;
    padding: 1rem;
    background: rgb(77, 116, 97);
    border-radius: 10px 40px 10px 40px;
    z-index: 2000;
  }

  .links a {
    width: 100%;
    font-size: 1.1rem;
    padding: 5px;
    -webkit-tap-highlight-color: transparent;
    transition: 0.3s;
  }

  .links a:hover {
    border-radius: 5px;
    background-color: rgb(46, 71, 60);
    color: aqua;
  }

  .links a i {
    font-size: 0.9rem;
    padding-right: 1.5rem;
  }

  .links.active {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideIn 0.4s;
  }

  #menuBtn {
    display: block;
  }

  #home {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .skill-section {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }

  .edu-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
  }

  /* .college,
  .twelth{
    display: flex;
    flex-direction: column;
    align-items: center;
  } */


  .calc,
  .todo,
  .skycast {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-block: 1rem;
  }

  .calc img,
  .todo img,
  .skycast img {
    display: flex;
    align-items: center;
  }

  .projectLinks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #contact {
    flex-direction: column;
  }

  #contact form {
    width: 100%;
  }
}
